@page "/"

<PageTitle>Home</PageTitle>
<h3>Home</h3>

<hr/>
<Counter></Counter>
<hr />
<TimerComponent></TimerComponent>
<hr />
<h2>Så mycket vatten har du druckit idag</h2>
<WaterIntakeMeter MaxValue="3000"></WaterIntakeMeter>
<hr />
