@page "/timer"
@rendermode InteractiveServer

<h3>TimerComponent</h3>

<h3>@remaining</h3>

<input type="button" value="Starta klockan" @onclick="Start"/>
<input type="button" value="Stoppa klockan" @onclick="Stopp" />





